<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= Alias %></title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f9;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
      }

      .card {
        background-color: #003366;
        color: white;
        width: 300px;
        height: 450px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        position: relative;
      }

      .logo {
        position: absolute;
        width: 90px;
        height: 90px;
      }

      .chapter_logo {
        position: absolute;
        width: 150px;
        height: 150px;
      }

      .logo-top-left {
        top: 42px;
        left: 20px;
      }

      .logo-top-right {
        top: 20px;
        right: 2px;
      }

      .name {
        font-size: 24px;
        font-weight: bold;
        margin: 100px 0 10px;
      }

      .member-id {
        font-size: 22px;
        margin-bottom: 15px;
      }

      .communication {
        font-size: 20px;
        margin-bottom: 15px;
      }

      .qr-code {
        margin-top: 15px;
      }

      .qr-code img {
        width: 160px;
        height: 160px;
      }
    </style>
  </head>
  <body>
    <div class="card">
      <img class="logo logo-top-left" src="<%= logoUrl1 %>" alt="Logo 1" />
      <img
        class="chapter_logo logo-top-right"
        src="<%= logoUrl2 %>"
        alt="Logo 2"
      />
      <div class="name" style="margin-top: 152px"><%= username %></div>
      <div class="member-id">Member ID: <%= member_id %></div>
      <div class="communication"><%= Alias %></div>
      <div class="qr-code">
        <img src="<%= qrCodeUrl %>" alt="QR Code" />
      </div>
    </div>
  </body>
</html>
